.custom-navbar {
  background-color: black;
}
.site-title {
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  list-style: none; /* Supprime les points */
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
}

.nav-btn {
  color: white;
  text-transform: none;
  font-weight: 500;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffdd57; /* Jaune clair au hover */
  border-radius: 5px;
}
